{% extends 'users/layout.html' %}
{% block body %}


<style>
    .curve {
        width:700px;
        height:12vh;
        position:relative;
        background-image: linear-gradient(#A9FF8B , #5FFF68);
        border-top-left-radius:2px;
        border-top-right-radius:2px;
        border-bottom-left-radius: 50% 60%;
        border-bottom-right-radius: 50% 60%;
        text-align: center;
        border-bottom = 40px;
      }


    .headerpos{ top: 10px;  
                left: 40px;
                position: absolute; }


    .gillfont { font-size : 20px;
                font-family: 'Trebuchet MS', sans-serif;}

    .body {
        background-size: cover;
        background-image: linear-gradient(to bottom right, #FFFFFF, #B8FFFC);
        height : 100vh;
    
    }

    .borderbottom { padding-top: 2px;
                    padding-bottom: 4px;
                    border-bottom: 2px solid black;
                    width : 400px ;  }
</style>

<div class = "body">
    <div class = "curve gillfont">
        <h1 style = "font-size : 37px ;">Courses Enrolled List:</h1>
    </div>

    <p>
        <a href="{% url 'index' %}" class = "gillfont indexpos" style = "font-size : 25px ; position : relative ; text-align : center ; ">Back to Index</a>
    </p>

    <ul>
        {% for enrolled in Enrolled.all %}
        <p>
            <div class = "gillfont margin borderbottom" style = "font-size : 27px">
                {{ enrolled.subject_id.subject_id }}
                {{ enrolled.subject_id.subject }}
                {{ enrolled.section }}
            </div>
        </p>
        {% empty %}
        <p class = "gillfont" style = "text-align : center ; position : relative ; font-size : 25px">No Course</p>
        {% endfor %}
    </ul>

    {% endblock %}
</div>