<!DOCTYPE html>
<html lang="en">
    <center>
        <head>
            <title>Users</title>
        </head>
        <body>
            <a style="position: absolute;
                top: 0;
                right: 0;
                width: 100px;
                text-align:right;
                top: 0; 
                right: 0; 
                width: 100px; 
                text-align:right; 
                font-size : 25px; 
                font-family: 
                sans-serif;"
                href="{% url 'logout' %}">
                Log out
            </a>
            {% block body %}
            {% endblock %}
        </body>
    </center>
</html>