{% extends 'users/layout.html' %}
{% block body %}

<style>
    .gillfont { font-size : 25px;
                font-family: 'Trebuchet MS', sans-serif;}
    .borderbottom { padding-top: 2px;
                    padding-bottom: 4px;
                    border-bottom: 2px solid black; }
    
    .body {
        background-size: cover;
        background-image: linear-gradient(to bottom right, #FFFFFF, #EAFDFF);
        height : 100vh;
    
    }

    .curve {
        width:700px;
        height:14vh;
        position:relative;
        background-image: linear-gradient(#FFE6AA, #FF5B36);
        border-top-left-radius:2px;
        border-top-right-radius:2px;
        border-bottom-left-radius: 50% 60%;
        border-bottom-right-radius: 50% 60%;
        text-align: center;
        border-bottom = 40px;
      }
  
</style>

<div class = "gillfont body">
    <h1 class = "curve">Login</h1>
    {% if message %}
        <div style="color:red">{{ message }}</div>
    {% endif %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" style = "height : 25px; top : 10px ; position:relative;">
        <input type="password" name="password", placeholder="Password" style = "height : 25px; top : 10px ; position:relative;">
        <input type="submit" value="Login" style = "height : 25px; top : 10px ; position:relative;">
    </form>
</div>

{% endblock %}