{% extends 'users/layout.html' %}
{% block body %}
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <input type="text" name="searched" placeholder="search">
    <input type="submit" value="search">
</form>

{% if Dates %}
    <table border = "1" cellpadding = "5" cellspacing = "1">
        <td>Subject_id</td>
        <td>Subject</td>
        <td>Credit</td>
        <td>Section</td>
        <td>Day</td>
        <td>Time</td>
        <td>Seat</td>
        {% for Date in Dates %}
        <tr>
            <td>{{ Date.subject_id.subject_id }}</td>
            <td>{{ Date.subject_id.subject }}</td>
            <td>{{ Date.subject_id.credit }}</td>
            <td>{{ Date.start_time }} - {{ Date.end_time }}</td>
            <td>{{ Date.section }}</td>
            <td>{{ Date.day }}</td>
            <td>{{ Date.subject_id.seat }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h1>No Course<h1>
{% endif %}

<p>
    <a href="{% url 'index' %}">Back to Index</a>
</p>
{% endblock %}