{% extends 'users/layout.html' %}
{% block body %}
<table border = "1" cellpadding = "5" cellspacing = "1">
    <td>Subject_id</td>
    <td>Subject_id</td>
    <td>Credit</td>
    <td>Section</td>
    <td>Time</td>
    <td>Day</td>
    <td>Seat</td>
    {% for Date in Dates %}
    <tr>
        <td>{{ Date.subject_id.subject_id }}</td>
        <td>{{ Date.subject_id.subject }}</td>
        <td>{{ Date.subject_id.credit }}</td>
        <td>{{ Date.section }}</td>
        <td>{{ Date.time }}</td>
        <td>{{ Date.day }}</td>
        <td>{{ Date.subject_id.seat }}</td>
    </tr>
    {% empty %}
    <td>No Course<td>
    {% endfor %}
</table>
<a href="{% url 'index' %}">Back to Index</a>
{% endblock %}