{% extends 'Courses/layout.html' %}
{% block body %}

<style>
    .uppercase {text-transform: uppercase;}
    .header{  	height: 12vh;
                background-image: 
                linear-gradient(to right bottom, 
                rgba(76, 216, 255, 0.8),
                rgba(30, 108, 217, 0.8)),
                url("images/sky_1.jpg");
        
                background-size: cover;
                background-position: top;
                position: relative;
                text-align: center;
  
                clip-path: polygon(0 0, 30% 0, 70% 75vh, 0 100%);}
    
    .headerpos{ top: 10px;  
                left: 40px;
                position: absolute; }

    .margin {   padding: 2px 5px 5px 20px;
                border-bottom: 2px solid black;
                border-right : 2px solid black;
                background-color: #EAFDFF;}
    
    .borderbottom { padding-top: 2px;
                    padding-bottom: 4px;
                    border-bottom: 2px solid black; }


    .sansfont {font-family: sans-serif;}
    .courfont {font-family: 'Courier New', Courier, monospace;}
    .gillfont { font-size : 20px;
                font-family: 'Trebuchet MS', sans-serif;}
</style>

<div class = "header gillfont">
    <h1 class = "headerpos">Course: {{ Courses.id }}</h1>
</div>
 
<div class = "gillfont">
    <ul>
        <li class = "borderbottom" , style = "width : 250px">Subject: {{ Courses.subject }}</li>
        <li class = "borderbottom" , style = "width : 250px">Subject_id: {{ Courses.subject_id }}</li>
        <li class = "borderbottom" , style = "width : 250px">Credit: {{ Courses.credit }}</li>
        <li class = "borderbottom" , style = "width : 250px">Seat: {{ Courses.seat }}</li>
    </ul>
</div>

<a href="{% url 'index' %}", style = "font-size : 20px">Back to Course List</a>
{% endblock body %}

