{% extends 'Courses/layout.html' %}
{% block body %}


<style>
    .orange {color : #b45405}
    .purple {color : #5c025f}
    .uppercase {text-transform: uppercase;}
    
    .sansfont {font-family: sans-serif;}
    .courfont {font-family: 'Courier New', Courier, monospace;}
</style>


<div class = "purple sansfont">
    <h1>Courses List:</h1>
</div>

<ul>
    {% for Course in Courses %}
    <li>
        <a href="{% url 'Course' Course.id %}">
        {{ Course}}
        </a>
    </li>
    {% empty %}
    <li>No Course</li>
    {% endfor %}
</ul>

{% endblock %}