{% extends 'Courses/layout.html' %}
{% block body %}


<style>
    .orange {color : #b45405}
    .purple {color : #5c025f}
    .uppercase {text-transform: uppercase;}
    .header{  	height: 12vh;
                background-image: 
                linear-gradient(to right bottom, 
                rgba(76, 216, 255, 0.8),
                rgba(30, 108, 217, 0.8)),
                url("images/sky_1.jpg");
        
                background-size: cover;
                background-position: top;
                position: relative;
                text-align: center;
  
                clip-path: polygon(0 0, 100% 0, 70% 75vh, 0 100%);}
    
    .headerpos{ top: 10px;  
                left: 40px;
                position: absolute; }


    .sansfont {font-family: sans-serif;}
    .courfont {font-family: 'Courier New', Courier, monospace;}
</style>


<div class = "header courfont">
    <h1 class = "headerpos">Courses List:</h1>
</div>

<ul>
    {% for Course in Courses %}
    <li>
        <div class = "courfont">
            <a href="{% url 'Course' Course.id %}">
                {{ Course}}
            </a>
        </div>
    </li>
    {% empty %}
    <li>No Course</li>
    {% endfor %}
</ul>

{% endblock %}